<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.peiqi.manager.mapper.CategoryMapper">
	
	<select id="findAllCategory" resultType="com.peiqi.commons.pojo.category.Category">
		SELECT * FROM category
	</select>
	
	<select id="findCategoryByCid" resultType="com.peiqi.commons.pojo.category.Category">
		SELECT * FROM category where cid = #{cid}
	</select>
	
	<update id="updateCategory" parameterType="com.peiqi.commons.pojo.category.Category">
		UPDATE category SET cname = #{cname} WHERE cid = #{cid}
	</update>
	
	<delete id="deleteCategory">
		DELETE FROM category WHERE cid = #{cid}
	</delete>
	
	<insert id="addCategory">
		INSERT INTO category (cname) VALUES (#{cname})
	</insert>

</mapper>